body{
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(109.6deg, rgb(72, 200, 160) 11.2%, rgb(32, 40, 48) 91.3%);
 
}
h3{
    text-align: center;
}
header{
    border-bottom: 0.4px solid aliceblue;
    padding: 15px;
    text-align: center;
    font-size: large;
}
.titulo{
    font-size: 40px;
    color: #000000;
    text-shadow: #9FACE6 0.1rem 0.2rem 0.2rem;
}
.textos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.intro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;

}
.card{
    position: static;
    width: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    margin: 5px;
    padding: 1% 1%;
    width: 250px;
    height: 620px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    border-radius: 30px;
    transition: all .3s;
}
.card2{
    position: relative;
    width: 250px;
    height: 620px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    border-radius: 30px;
    transition: all .2s;
}
   
.card2:hover {
    transform: scale(1.1);
    border-radius: 50px;
}
   
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    padding: 30px 30px;
}